<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948286705911-48cmoig8bbh2ki22ce96ipfc39f8av1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948286705911-48cmoig8bbh2ki22ce96ipfc39f8av1t</string>
	<key>API_KEY</key>
	<string>AIzaSyCml6AV17EJ_kOiAhYjks7nkGMPWhWs-MY</string>
	<key>GCM_SENDER_ID</key>
	<string>948286705911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liveasyinterntask</string>
	<key>PROJECT_ID</key>
	<string>liveasy-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>liveasy-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948286705911:ios:cc8e0f4882e40eb89c83f2</string>
</dict>
</plist>